<h1>Hello <%=@user.username%>! </h1>
<br>
<h3>My Teams</h3>
<% if @teams == []%>
    <p>You do not belong to any teams</p>
<% else %>
    <% @teams.each do |team| %>
        <li><%= link_to team.name, team_path(team) unless team.name == nil %>
    <% end %>
<% end %>
<br>
<%= link_to "Create Team", new_user_team_path(@user) %>
<br>